img {
    height: 17rem !important;
}

.custom-card {
    background-color: #333;
    /* Set the desired background color here */
    color: white;
    /* Set text color to white */
    border: 1px solid #444;
    /* Add a border for separation */
    scale: calc(0.82);
}

p.text-warning{
    font-size: 1.4rem!important;
}

p.text-warning:hover{
    font-size: 1.6rem;
    text-shadow: 0 0 0.8rem #e45d1ed2;
}