@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

main{
    font-family: 'Source Sans 3', sans-serif!important;
}

.navbar-fixed-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* Adjust the z-index value as needed */
}


.carousel-image {
    height: 100vh;
    object-fit: cover;
    /* To maintain image aspect ratio */
    width: 100%;
    /* Ensure full width */
}

.dimmed-image {
    filter: brightness(0.5);
    /* Adjust the value as needed */
}

svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }

  .mybackground{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -5;
    background-color: rgba(37, 56, 119, 0.74);
  }

  /* Center the spinner and text vertically and horizontally */
.spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust this value for the desired height */
  }
  
  /* Increase the spinner size */
  .spinner-border {
    width: 6rem; /* Adjust this value for the desired size */
    height: 6rem; /* Adjust this value for the desired size */
    margin-bottom: 1rem; /* Space between spinner and text */
  }
  
  /* Style the "Loading..." text */
  .spinner-text {
    font-size: 1.5rem; /* Adjust this value for the desired font size */
    color: #17a2b8; /* Desired text color */
  }
  



  .card {
    background-color: #4d4d4d9f; /* Background color of the cards */
    margin: 10px; /* Add margin between cards */
  }
  
  .card-img-top {
    height: 200px; /* Set the desired height for all images */
    object-fit: cover; /* Maintain aspect ratio of images */
  }
  
  .card-title {
    color: #FFA500; /* Set the title text color to orange */
  }
  
  .card-text {
    color: #007BFF; /* Set the description text color to blue */
  }
  
  .card-text.text-secondary {
    color: #6c757d; /* Set the "Last updated" text color to gray */
  }
  
  .container .card-group .btn {
    background-color: #1757b8; /* Set the button background color to teal */
    color: #fff; /* Set the button text color to white */
    border: none!important;
  }
  
  .container .card-group .btn:hover {
    background-color: #133296; /* Change button background color on hover */
  }
  
  .row img{
    /* border-radius: 12px; */
    background-color: transparent!important;
  }

  /* Select the first button in the button group */
.btn-group > .btn:first-child:hover {
    background-color: #004da0;
    color: yellow;
}




/* Thin scrollbar */
::-webkit-scrollbar {
    width: 1px!important; /* Adjust the width as needed */
  }
  
  /* Track (the area where the scrollbar moves) */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Change the background color */
  }
  
  /* Handle (the draggable part of the scrollbar) */
  ::-webkit-scrollbar-thumb {
    background: #888; /* Change the thumb color */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Change the thumb color on hover */
  }
  